*{
    padding: 0%;
    margin: 0%;
}
#navbar{
    height:50px;
    width:100%;  
    display:grid;
    grid-template-columns: repeat(13,80px);
    grid-template-rows: auto;
    background-color: #313132;
    justify-content: center;
}
#navbar>div{
    color:rgb(173, 172, 172);
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}



#unicef{
    height:80px;
    width:100%;
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
}
#unicefimg>img{
    padding-top: 20px;
    width:140px;
    
}
#anchor{
    color:#478fd9;
    font-size: 16px;
}
#unicefanchor{
    
    padding-top: 35px;
    padding-left: 20px;
}






#iphone13{
    height:617px;
    background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-13-pro/hero_iphone13pro_avail__iy77cld0zwii_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
}
#iphone13>h1{
    font-size: 70px;
}
#iphone13>h3{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
div>a{
    color:#478fd9;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
a>i{
    font-size: 12px;
    padding-right: 20px;
}



#iphonese{
    height:617px;
    background-image: url("https://www.apple.com/v/home/an/images/heroes/iphone-se/hero_iphonese_avail__eg8srhcnpo66_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
}
#iphonese>p{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
}
#iphonese>img{
    height:50px;
}
#iphonese>h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}


#coda{
    height:617px;
    background-image: url("https://www.apple.com/v/home/an/images/heroes/tv-plus-oscar-coda/hero_coda__cv3jny7jpe6a_medium.jpg");
    background-size: cover;
    padding-top: 100px;
    text-align: center;
    color:white;
}
#coda>p{
    font-size: 21px;
    font-weight: 600;
}
#coda>h2{
    font-size: 60px;
    margin-top: 4px;
}
#coda>div{
    height:390px;
   
}
#coda>h6{
    font-size: 28px;
    
}
#coda>#play{
    padding-top: 20px;
    font-size: 19px;
}




#studio{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,650px);
    gap:10px;
    
}

#display{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/studio-display/promo_studiodisplay_avail__d1cx9j73ooq6_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    
}
#display>h1{
    margin-top: 40px;
    font-size: 40px;
}
#display>h3{
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}
#mac{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/mac-studio/promo_macstudio_avail__byhwkp0o4gty_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    
}
#mac>h1{
    margin-top: 30px;
    font-size: 40px;
}
#mac>h3{
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}









#ipad{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,650px);
    gap:10px;
    
}

#ipadair{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/ipad-air/promo_ipadair_avail__ferd4bfpcdm6_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    color:white;
    
}
#ipadair>img{
    height:40px;
}

#ipadair>h3{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 400;
}
#iphone{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/iphone-13/promo_iphone13_avail__frc36u35m0ii_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    
    
}
#iphone>h1{
   
    font-size: 40px;
}
#iphone>h3{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 500;
}









#watch{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,650px);
    gap:10px;
    
}

#iwatch{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/watch-series-7/promo_watch_lte__djeaso7ukrsm_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    
    
}
#iwatch>h1{
    margin-top: 40px;
    font-size: 40px;
}
#iwatch>h4{
    color:#cc2127;
}
#iwatch>h3{
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 10px;
}
#business{
    
    background-image: url("https://www.apple.com/v/home/an/images/promos/apple-business-essentials/promo_business__ctja2nwzpey6_medium.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    
    
}
#business>img{
    padding-top: 40px;
    
}

.empty{
    height:10px;
    width:100%;
   
}









*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container{
    max-width: 1100px;
    background-color: #f5f5f7;
    margin: auto;
    color:#5a5a5c;
    
    
}

.footer{
    background-color: #f5f5f7;
    padding:70px 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.rows{
    display:flex;
    flex-wrap: wrap;
}
.footer-col{
    width:20%;
    padding: 0 15px;

}
.footer-col>h4{
    font-size: 16px;
    
    
}
.footer-col>ul{
    font-size: 16px;
    padding-top: 10px;
}
.footer-col>ul>li{
    padding-top: 10px; 
    text-align: left;  
}
.footer-col>ul>li:last-child{
    padding-bottom: 10px;
    padding-bottom: 10px;
    
}
.horiline{
    height:1px;
    width:100%;
    border:1px solid #d2d2d7;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#lastline{
    display:flex;
    justify-content: space-between;
}

#baseflex{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    
    font-size: 16px;;   
}
#baseflex>div{
    display:flex;
    justify-content: left;
}
.rows>p{
    font-size: 16px;
}
.lastanchor{
    color:#8bb7e4;
}

