/* ///////////      NavBar CSS     ////////////////
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
*{
    margin: 0px;
    padding-top: 0px;
}
#navbar{
    height: 50px;
    width:100%;
    background-color: #313132;
    display:grid;
    grid-template-columns: repeat(13,80px);
    grid-template-rows: auto;
    /* gap:10px; */
    justify-content: center;
}
#navbar>div{
    
    /* border:1px solid red; */
    color:rgb(173, 172, 172);
    text-align: center;
    padding-top: 15px;
    font-size: 12px;

}

