* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

#nav {
    background-color: black;
    padding: 10px;
}

#nav>ul>li {
    color: white;
    display: inline-block;
    justify-content: space-around;

}

/* now i will take nav tag previous nav was nav id */
nav {
    background-color: white;
}

#con {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    padding-top: 5px;
    background-color: #fbfbfd;

}

nav+div {
    display: flex;
    justify-content: center;
}

nav+div>p {
    color: #fbfbfd;
}

#first {
    width: 60%;
    margin-left: 300px;
}

.first_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfd;
}

.second{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fbfbfd;
}

.second>div{
    width: 40%;
   padding-top: 50px;
   padding-left: 20px;
}

#third{
    width: 50%;
    
}

.third{
    background-color: #fbfbfd;
    padding: 10px;
}


.third>img{
    width: 100%;
    border-radius: 20px;

}