* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f7;
}

#nav {
    background-color: black;
    padding: 10px;
}


#navbar{
    height: 50px;
    width:100%;
    background-color: #313132;
    display:grid;
    grid-template-columns: repeat(13,80px);
    grid-template-rows: auto;
    /* gap:10px; */
    justify-content: center;
}
#navbar>div{
    
    /* border:1px solid red; */
    color:rgb(173, 172, 172);
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}





/* 
#nav>ul>li {
    color: white;
    display: inline-block;
    justify-content: space-around;

} */

/* now i will take nav tag previous nav was nav id */
nav {
    background-color: white;
} 

#con {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    padding-top: 5px;
    background-color: #fbfbfd;

}

nav+div {
    height: 30px;
    

}

nav+div>p {
    text-align: center;
    color: #8a8a8c;
    margin-top: 5px;
}

.logo{
    height: 54px;
}

#first {
    width: 60%;
    margin-left: 300px;
}

.first_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfd;
}




.first_img_2nd_div{
 display: flex;
 /* border: 1px solid blue; */
 justify-content:center
}

.first_2nd_div>a{
    text-decoration: none;
}



/* .first_img>button{

    margin-left: 80px;
} */

.first_img>div:nth-child(1){
    margin-top: 60px;

}

.first_img>div>h1{
    font-size: 37px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 15px;
}

.first_img>div>h1+h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.first_img>div>h1+p{
    font-size: 25px;
}

.font{
    font-size: 30px;
    margin-left: 40px;
}

                /* all button color blue a have some boder radius so only target button  */
  button{
      border-radius: 10px;
      background-color: #0071e3;
      /* height: 40px; */
      font-size: 25px;
      width: 58px;
      color: #f5f5f7;
      border: none;
      
  }

  .second_img{
      width: 100%;
      /* border: 1px solid red; */
      background-color: #ffffff;
  }

  .second_img>div:nth-child(1){
      /* border: 1px solid blue; */
      width: 50%;
      margin: auto;
      text-align: center;
      margin-top: 50px;
      line-height: 40px;
  }

  .second_img>div>h3{
      font-size: 25px;
  }

  .second_img>div>h1{
      font-size: 50px;
  }

  .second_img_2nd_div{
      display: flex;
      justify-content: center;
      /* border: 1px solid black; */
      margin-bottom: 15px;
      margin-top: 15px;
  }



.second{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fbfbfd;
    /* border: 1px solid red; */
}

.second>div{
    width: 50%;
   padding-top: 50px;
   padding-left: 20px;
   /* border: 1px solid blue; */
   margin: 10px;
   line-height: 30px;
}

.second>div:nth-child(1){
    
    text-align: center;
    margin-top: 50px; 
}

 .second>div>p:nth-child(1){
       color: #d99268;
       font-size: 20px;
 }

 .second>div>p:nth-child(2){
     color: black;
     font-size: 30px;
 } 

 .second>div>h2{
     font-size: 50px;
     color: #385fda;
     line-height: 50px;
     text-align: center;
 }


#third{
    width: 50%;
    
}

.third{
    background-color: #fbfbfd;
    padding: 10px;
}


.third>img{
    width: 100%;
    border-radius: 20px;

}

.four{
    background-color: #fbfbfd;
}
.four>h1{
    text-align: center;
}

.four>div{
    /* border: 1px solid red; */
    margin: auto;
    width: 80%;
    display: flex;
}

.four>div>div{
    width: 25%;
    /* border: 1px solid green */
    margin: 10px;
}

.sub_four{
    display: block;
    margin:auto;
    text-align: center;
    line-height: 30px;

}

.sub{
    width: 100%;
}

         /*     div five      */
.five{
    border: 1px soid red;
    width: 100%;
    /* height: 200px; */
    background-color: #ffffff;
}

.five>div{
    width: 80%;
    /* border: 1px solid blue; */
    margin: auto;
    display: grid;
    /* height: 600px; */
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(3,auto);
     gap: 5px;
     
     
}

.five>div>div{
    /* border: 1px solid green; */
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    line-height: 30px;
    /* background-color: #ffffff; */
}

.five>div>div>h3{
    font-size: 20px;
    font-weight: 800;
   
}

.five>div>div>p{
    color: #787879;
}



